<launch>

  <arg name="world_name" default="garage"/>
  <arg name="vehicleHeight" default="0.75"/>
  <arg name="cameraOffsetZ" default="0.0"/>
  <arg name="vehicleX" default="0.0"/>
  <arg name="vehicleY" default="0.0"/>
  <arg name="terrainZ" default="0.0"/>
  <arg name="vehicleYaw" default="0.0"/>
  <arg name="gazebo_gui" default="false"/>
  <arg name="checkTerrainConn" default="true"/>

  <!-- <include file="$(find-pkg-share ps3joy)/launch/ps3.launch.py" /> -->

  <include file="$(find-pkg-share local_planner)/launch/local_planner.launch" >
    <arg name="cameraOffsetZ" value="$(var cameraOffsetZ)"/>
    <arg name="goalX" value="$(var vehicleX)"/>
    <arg name="goalY" value="$(var vehicleY)"/>
  </include>

  <include file="$(find-pkg-share terrain_analysis)/launch/terrain_analysis.launch" />

  <include file="$(find-pkg-share terrain_analysis_ext)/launch/terrain_analysis_ext.launch" >
    <arg name="checkTerrainConn" value="$(var checkTerrainConn)"/>
  </include>

  <!-- <include file="$(find-pkg-share vehicle_simulator)/launch/vehicle_simulator.launch" >
    <arg name="world_name" value="$(var world_name)"/>
    <arg name="vehicleHeight" value="$(var vehicleHeight)"/>
    <arg name="cameraOffsetZ" value="$(var cameraOffsetZ)"/>
    <arg name="vehicleX" value="$(var vehicleX)"/>
    <arg name="vehicleY" value="$(var vehicleY)"/>
    <arg name="terrainZ" value="$(var terrainZ)"/>
    <arg name="vehicleYaw" value="$(var vehicleYaw)"/>
    <arg name="gui" value="$(var gazebo_gui)"/>
  </include> -->

  <include file="$(find-pkg-share sensor_scan_generation)/launch/sensor_scan_generation.launch" />

  <include file="$(find-pkg-share visualization_tools)/launch/visualization_tools.launch" >
    <arg name="world_name" value="$(var world_name)"/>
  </include>

  <node pkg="rviz2" exec="rviz2" name="rvizGA" args="-d $(find-pkg-share vehicle_simulator)/rviz/vehicle_simulator.rviz" respawn="true"/> 
  <!-- <node pkg="rviz2" exec="rviz2" name="rvizGA" respawn="true"/>  -->

</launch>
