<launch>

  <arg name="world_name" default="tunnel"/>
  <arg name="rviz" default="false"/>
  <arg name="vis_tools" default="true"/>
  <arg name="checkTerrainConn" default="false"/>

  <include file="$(find vehicle_simulator)/launch/system.launch" >
    <arg name="world_name" value="$(arg world_name)"/>
    <arg name="rviz" value="$(arg rviz)"/>
    <arg name="vis_tools" value="$(arg vis_tools)"/>
    <arg name="checkTerrainConn" value="$(arg checkTerrainConn)"/>
  </include>
  
</launch>
